#headerColorLine {
    width: 200%;
    height: 3px;
    background-repeat: repeat-x;
    background-image: url(color.png);
}

.footerLink {
    display: inline-block;
    margin-right: 5px;
    color: black;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: 'Lato' !important;
}

.footer{
  .main-footer{
    width: 60%;
    margin: 0px auto;
    text-align: center;
    ul{
      li{
        float: left;;
        padding: 5px 10px;
        list-style: none;
        a:hover{
          text-decoration: none;
        }
      }
    }
    .sologan{
      width: 44%;
      height: 31px;
      text-align: center;
      margin: 0px auto;
      margin-top: 30px;
    }
  }
}
